@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	color: #95a5a6;
    background: #ecf0f3;
    width: 99%;
}

h1 {
    width: 200px;
    padding: 20px 60px;
    margin: 30px auto;
	text-align: center;
    border-radius: 40px;
    box-shadow: 3px 3px 7px #cbced1,
                -3px -3px 7px #ffffff;
}

main{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
}

#map {
	margin: 0 auto;
	width: 100%;
	height: 500px;
	color: #111;
    border-radius: 40px;
    box-shadow: 3px 3px 7px #cbced1,
                -3px -3px 7px #ffffff;
}

#map img {
	display: block;
	margin: 2px 10px 10px 0;
	float: left;
	max-width: 100px;
	border: 1px solid #333;
	border-radius: 3px;
}

aside {
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    margin: 40px auto;
    height: 500px;
    text-align: center;
    padding: 0px 20px;
    border-radius: 40px;
    box-shadow: 3px 3px 7px #cbced1,
                -3px -3px 7px #ffffff;
}

img {
    border-radius: 50%;
    box-shadow: inset 3px 3px 7px #cbced1,
                inset -3px -3px 7px #ffffff;
}

.container {
    text-align: center;
}

canvas.mapboxgl-canvas {
    border-radius: 40px;
}

.mapboxgl-ctrl-bottom-right {
    visibility: hidden;
}

.input {
    display: flex;
    flex-direction: column;
}

input.inputTekst {
    border: none;
    border-radius: 40px;
    height: 35px;
    width: 90%;
    padding: 5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #95a5a6;
    margin: 5px auto 10px;
    background: #ecf0f3;
    box-shadow: inset 3px 3px 7px #cbced1,
                inset -3px -3px 7px #ffffff;
}

::placeholder{
    color: #bdc3c7;
    font-style: italic;
}

input.knop {
    border-radius: 40px;
    border: none;
    background: #ff6b81;
    transition: 0.8s;
    color: #ecf0f3;
    height: 40px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin: 10px auto;
    box-shadow: 3px 3px 7px #ff95c6, 
                -3px -3px 7px #ff9dc6;
}

input.knop:hover {
    background: #eb4d4b;
    transition: 0.8s;
}

/* --- tablet --- */
@media (min-width: 600px) { 

}


/* --- desktop-small --- */
@media (min-width: 1000px) {
    h1{
        width: 350px;
    }
    
    main{
        width: 80%;
        margin:auto;
        flex-direction: row;
    }

    #map {
        margin: 0 auto;
        width: 70%;
        height: 500px;
        float: right;
        color: #111;
        border-radius: 40px;
        box-shadow: 3px 3px 7px #cbced1,
                    -3px -3px 7px #ffffff;
    }

    #map img {
        display: block;
        margin: 2px 10px 10px 0;
        float: left;
        max-width: 100px;
        border: 1px solid #333;
        border-radius: 3px;
    }

    aside {
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        width: 20%;
        height: 500px;
        text-align: center;
        padding: 0px 20px;
        float: left;
        border-radius: 40px;
        box-shadow: 3px 3px 7px #cbced1,
                    -3px -3px 7px #ffffff;
    }
}

/* --- desktop-large --- */
@media (min-width: 1800px) { 

}